#container{
    width: 100%;
    height: 100%;
    background-color: sandybrown;
    margin:0px;
}
#ninja{
    height: 50px;
    width: 50px;
}
#ninja1{
    height: 50px;
    width: 50px;
}
#ninja2{
    height: 50px;
    width: 50px;
}
#ninja3{
    height: 50px;
    width: 50px;
}
#ninja4{
    height: 50px;
    width: 50px;
}
#ninja5{
    height: 50px;
    width: 50px;
}
#ninja6{
    height: 50px;
    width: 50px;
}
#ninja7{
    height: 50px;
    width: 50px;
}